*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f2f2f2;
}
.header{
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 2.2rem rgba(0,0,0,.3);
}
.link a{
    text-decoration: none;
}
.link a:hover{
    text-decoration: underline;
}
#calculator{
    width: 85%;
    margin: auto;
    background: #ffffff;
    box-shadow: 0 0 2.2em rgba(0,0,0,.3);
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
}
#inputs{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#inputs input[type=number]{
    outline: none;
    background: none;
    border-radius: 20px;
    padding: 10px 25px;
    box-shadow: 0 0 2.2em rgba(0,0,0,.3);
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
}
#button #btn{
    padding: 10px 20px;
    box-shadow: 0 0 2.2em rgba(0,0,0,.3);
    border-radius: 10px 20px;
    background: none;
    margin-top: 10px;
}